portal-web/webapp/META-INF/xsd/midaiganes-theme.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/midaiganes-theme"
		xmlns:tns="http://www.example.org/midaiganes-theme"

		xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
		xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
		jaxb:extensionBindingPrefixes="xjc"
  		jaxb:version="1.0"

		elementFormDefault="qualified"
		version="1.0">
	
	<!-- 
	add java.io.Serializable interface
	http://stackoverflow.com/questions/3677088/how-to-generate-classes-from-xsd-that-implements-serializable
	 -->
	<annotation>
		<appinfo>
			<jaxb:globalBindings>
				<xjc:serializable uid="1" />
			</jaxb:globalBindings>
		</appinfo>
	</annotation>
	<element name="midaiganes-theme">
		<complexType>
			<sequence>
				<element name="theme" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="name" minOccurs="1" maxOccurs="1" type="string">
								<annotation>
									<documentation>
										Theme name
									</documentation>
								</annotation>
							</element>
							<element name="path" minOccurs="1" maxOccurs="1" type="string" />
							<element name="javascript-path" minOccurs="1" maxOccurs="1" type="string" />
							<element name="css-path" minOccurs="1" maxOccurs="1" type="string" />
						</sequence>
						<attribute name="id" type="string" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>