portal-web/webapp/META-INF/xsd/midaiganes-layout.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
		targetNamespace="http://www.example.org/midaiganes-layout"
		xmlns:tns="http://www.example.org/midaiganes-layout"

		xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
		xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
		jaxb:extensionBindingPrefixes="xjc"
  		jaxb:version="2.0"

		elementFormDefault="qualified"
		version="1.0">
	
	<!-- 
	add java.io.Serializable interface
	http://stackoverflow.com/questions/3677088/how-to-generate-classes-from-xsd-that-implements-serializable
	 -->
	<annotation>
		<appinfo>
			<jaxb:globalBindings>
				<xjc:serializable uid="1" />
			</jaxb:globalBindings>
		</appinfo>
	</annotation>
	<element name="midaiganes-layout">
		<complexType>
			<sequence>
				<element name="layout" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="path" minOccurs="1" maxOccurs="1" type="string" />
						</sequence>
						<attribute name="id" type="string" use="required" />
					</complexType>
				</element>
			</sequence>
		</complexType>
		<unique name="UniqueLayoutId">
			<selector xpath="layout" />
			<field xpath="@id" />
		</unique>
	</element>
</schema>